h1 It's raining men!

/ p = "The weather in #{weather["name"]} is #{weather["main"].downcase}."
h2 = "You're looking at the weather in #{weather["name"]}."
h2 = "The weather in #{weather["name"]} is: #{weather["description"]}."


a href="/" Back